body{
    margin: 0 auto;
    padding: 0px;
}

.constuct{
    width: 100%;
    min-height: 100%;
    float: left;
}

.header{
    width: 100%;
    min-height: 125px;
    float: left;
}
.center{
    width: 100%;
    min-height: 766px;
    float: left;

}

.logo{
    width: 20%;
    min-height: 100%;
    float: left;
}
.cont{
    width: 80%;
    min-height: 100%;
    float: left;
}
.logo img{
    padding: 65px 0px 0px 80px;
}

.cont ul li{
    list-style-type: none;
    float: right;
    padding: 65px 0px 0px 30px;
    margin: 0px 10px;
    box-sizing: border-box;
    color: #07043B;
    font-size: 16px;
    align-items: flex-end;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    font-family: 'Raleway';
}
.cont ul li:hover{
        cursor: pointer;
        color: #2F65F8;
}

.btn{
    width: 150px;
    height: 45px;
    top: 520px;
    left: 430px;
    color: white;
    background: #2F65F8;
    border: #2F65F8;
    border-radius: 3.125px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
}

.text input{
    width: 320px;
    height: 45px;
    top: 518px;
    left: 80px;
    border-radius: 3.125px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border: 0.625px solid #07043B;
}

.btn:hover{
    cursor: pointer;
    transition: 0.5s;
 background: #0031b8;
}
.img{
    width: 50%;
    float: left;
    padding: 202px 0px 0px 0px;
}
.text{
    width: 50%;
    min-height:100%;
    float: left;
    padding: 202px 0px 0px 80px;
    font-family: Raleway;
    box-sizing: border-box;
}
.cont ul{
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 600px){
    .header{
        width: 100%;
        margin: 0 auto;
    }
    .constuct{
        float: left;
        width: 100%;
        min-height: 845px;
    }

    .logo{
        width: 20%;
        height:125px;
        float: left;
    }
    .logo img{
        width: 80px;
        height: 24px;
        padding: 65px 0px 0px 60px;
    }
    .cont{
        width: 80%;
        float: left;
    }
    .cont ul{
        padding: 0px 0px 0px 82px;
    }
    .cont ul li {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #07043B;
        float: left;
        padding: 65px 0px 0px 20px;
    }

    .center{
        float: left;
        padding: 90px 24px;
        width: 100%;
        box-sizing: border-box;
    }
    .text{
        width: 100%;
        float: left;
    }

    .text h1{
        width: 100%;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #07043B;
    }

    .text p{
        margin-top: 15px;
        width: 100%;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;         
        color: #07043B;
    }
    .text .knopka{
        border: 0.625px solid #07043b;
        border-radius: 3.125px;
        padding: 12px 135px 12px 21px;
        outline: none;
        margin-top: 25px;
    }
    .text .btn{
        background: #2F65F8;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
        border-radius: 3.125px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        border-color: transparent;
        padding: 12px 118px 12px 113px;
        margin-left: 10px;
        width: 304px;
        margin-top: 16px;
      
    }
    .img{
        position: absolute;
        float: left;
        width: 50%;
        top: 130px;
        padding: 0px 0px 0px 140px;
    }

.img img{
    width: 300px;
    height:225px;
    float: left;
    }
}
